body {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  h2{
    color: #213f21;
  }
  .options {
    display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  }
  .btnSig{
    display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 3%;
  }
  
  h1 {
    text-align: center;
  }
  
  #quiz-container {
    border: 1px solid #cccccc;
    background-color: #fff8d33f;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  #result-container {
    text-align: center;
    border: 1px solid #cccccc;
    background-color: #fff8d33f;
  }
  
  button {
    margin-top: 10px;
  }
  
  .selected {
    background-color: #2F5C2F;
    color: white;
  }
  .titTriv{
    font-size: 300%;
    color: #2F5C2F;
  }
  footer{
    width: 100%;
    padding: 50px 0px;
    font-family: 'Nunito', sans-serif;
    *background-color: var(--color-esqueleto);
    background-image: url("../Preguntas/img/background-footer.svg");
    background-size: cover;

    /*webkit-mask-image: url("../Images/background-footer.svg");
    mask-image: url("../Images/background-footer.svg");
    -webkit-mask-size: cover;
    mask-size: cover;*/
}

button{
  margin: 5%;
  cursor: pointer;
}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding-top: 100px;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box__footer .logo img{
    width: 180px;
}

.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px;

}

.box__footer h2{
    margin-bottom: 30px;
    color: #242424;
    font-weight: 700;
    
}

.box__footer a{
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
}

.box__footer a:hover{
    opacity: 0.8;
}

.box__footer a .fab{
    font-size: 20px;
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p{
    margin-top: 20px;
    color: #7a7a7a;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}

/**/
.container__all{
  position: relative;
  right: 0;
  transition: all 300ms;
}

header{
  width: 100%;
  height: 100px;
  font-family: 'Poppins', sans-serif;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;

  transition: all 300ms;
}
.move_content{
  right: 180px;
}

.container__header{
  max-width: 1200px;
  height: 100%;  
  display: flex;
  justify-content: space-between; 
  margin: auto;
  padding: 0px 20px;
}

header .logo{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img{
  width: 100px;
}

.container__nav{
  position: relative;
  height: 100%;
}

nav{
  height: 100%;
}

nav ul{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li{
  margin: 0px 20px;
  list-style: none;
}

nav ul li a{
  color: #373737;
  font-size: 14px;
}

.select{
  background: #8dbf41dc;
  padding: 10px 30px;
  color: white;
  border-radius: 20px;
}

.select:hover{
  background: #885757d0;
  padding: 10px 30px;
  color: white;
  border-radius: 20px;
  transition: .4s;
}

.nav_mod{
  height: 70px;
  box-shadow: 1px 1px 10px 0px #00000010;
  background: white;
}

.btn__menu{
  width: 50px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background 300ms;
  display: none;
}

.btn__menu:hover{
  background: #f5f5f5;
}
/*HEADER - fin*/

/* BTN */
button {
  border: none;
  outline: none;
  background-color: #8dbf41dc;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 700;
  color: #2F5C2F;
  border-radius: 5px;
  transition: all ease 0.1s;
  box-shadow: 0px 5px 0px 0px #2F5C2F;
}

button:active {
  transform: translateY(5px);
  box-shadow: 0px 0px 0px 0px #a29bfe;
}
.btnSig {
  position: relative;
  padding: 15px 35px;
  font-size: 15px;
  font-weight: bold;
  color: #254625;
  background-color: transparent;
  border: 3px solid #2F5C2F;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.5s;
}

.btnSig::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 10px;
  left: 10px;
  background-color: #8dbf41dc;
  border-radius: 8px;
  z-index: -1;
  transition: all 0.5s;
}

.btnSig:hover::after {
  top: 0;
  left: 0;
}

.icon-1 {
  position: absolute;
  width: 15%;
  top: 10px;
  right: 15px;
  color: #2F5C2F;
  transform-origin: 100% 100%;
  transform: rotate(-25deg) translateX(120%) translateY(20%);
  z-index: -1;
  transition: all 0.5s;
}

.btnSig:hover .icon-1 {
  width: 25%;
  transform: rotate(10deg) translateX(110%) translateY(-40%);
}

.icon-2 {
  position: absolute;
  width: 5%;
  top: 10px;
  left: 10px;
  color: #2F5C2F;
  transform-origin: 100% 100%;
  z-index: -1;
  transition: all 0.5s;
}

.btnSig:hover .icon-2 {
  width: 30%;
  top: -40px;
  left: -80px;
  transform: rotate(90deg);
  z-index: 1;
}